.gallery_img {
  width: 250px;
  height: 250px;
}

.gallery-li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.title-ref {
  text-decoration: none;
  color: blue;
  font-weight: 700;
  font-size: 20px;
  transition: color 300ms linear;
}

.gallery-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title-ref:hover {
  color: red;
}

.gallery-list .gallery_img {
  transition: width 300ms linear;
  transition: height 300ms linear;
}

.gallery-list .gallery_img:hover {
  width: 200px;
  height: 200px;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 150px;
  border: 3px solid #46615f;
  padding: 15px;
  background-color: aquamarine;
  cursor: pointer;
  transition: background-color 300ms linear, border-radius 500ms linear;
}

.nav-list:hover {
  background-color: #dfe6e7;
  border-radius: 20px;
}

.nav-ref {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #46615f;
  transition: color 300ms linear, font-size 300ms linear;
}

.nav-ref:hover {
  color: rgb(68, 11, 41);
  font-size: 24px;
}

.astrology-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100px 320px 1fr;
  column-gap: 650px;
  row-gap: 50px;
  justify-items: center;
  border: 3px solid #46615f;
  padding: 10px;
  margin-bottom: 50px;
  background: linear-gradient(rgb(139, 139, 176), rgb(97, 194, 203));
}

.articles_list {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.articles_ref {
  text-decoration: none;
  font-size: 24px;
  color: #874982;
  font-weight: 700;
  border: 3px solid #794e86;
  padding: 15px;
  background-color: rgb(212, 228, 228);
  transition: color 500ms linear, background-color 500ms linear;
}

.catlogs_list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.catalogs_ref {
  text-decoration: none;
  font-size: 24px;
  color: rgb(44, 9, 37);
  font-weight: 700;
  border: 3px solid #a0a622;
  padding: 15px;
  background: #5f989e;
  transition: color 500ms linear, background-color 500ms linear, text-shadow 500ms linear;
}

.catalogs_ref:hover {
  color: rgb(149, 157, 181);
  background-color: #2f3a3b;
  text-shadow: 2px 2px #624c4c;
}

.contacts_list {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.contact_ref {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: rgb(88, 87, 85);
  border: 3px solid #0e4662;
  padding: 10px;
  background-color: #c1e1d2;
  transition: color 500ms linear, background-color 500ms linear;
}

.contact_ref:hover {
  color: rgb(40, 115, 51);
  background-color: #ecf5f6;
}

.articles_ref:hover {
  color: rgb(73, 77, 135);
  background-color: #9fadae;
}

.astrology-title {
  color: rgb(187, 58, 159);
  margin: 0;
}

.gallery_list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.gallery_ref {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #64315F;
  border: 3px solid #86427F;
  padding: 10px;
  background-color: #F477E8;
  transition: color 500ms linear, background-color 500ms linear;
}

.navigation_list {
  cursor: pointer;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
  border: 3px solid #223564;
  padding: 10px;
  background-color: #5481F5;
  transition: background-color 500ms linear;
}

.navigation_list:hover {
  background-color: #2E4786;
}

#navipage {
  color: #5B45CA;
  cursor: pointer;
  text-align: center;
  transition: letter-spacing 500ms linear, color 500ms linear, font-style 500ms linear;
}

#navipage:hover {
  letter-spacing: 5px;
  color: #6A50EC;
  font-style: italic;
}

.anchors_list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.anchor_ref {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #626422;
  border: 3px solid #83862E;
  padding: 10px;
  background-color: #EFF553;
  transition: color 500ms linear, background-color 500ms linear, font-size 500ms linear;
}

.anchor_ref:hover {
  color: #A5A831;
  background-color: #343431;
  font-size: 22px;
}

#section1 {
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  color: #17081c;
  transition: background-color 500ms linear, color 500ms linear, border 500ms linear;
}

#section1:hover {
  background-color: #657070;
  color: #86342A;
  border: 3px solid #a1b0bc;
}

.catalog-li {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  transition: gap 500ms linear;
}

.catalog-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.group_section_one {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.group_ref_one {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #4b115c;
  transition: font-size 500ms linear, color 500ms linear;
}

.catalog-position {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
  color: #312270;
}

.catalog-li .catalog-position {
  transition: color 500ms linear,
    transform 500ms linear,
    letter-spacing 500ms linear,
    text-shadow 500ms linear,
    border 500ms linear,
    padding 500ms linear,
    background-color 500ms linear;

}

.catalog-li:hover .catalog-position {
  color: rgb(180, 168, 168);
  letter-spacing: 15px;
  transform: scale(1.1);
  text-shadow: 2px 2px #0f0202;
  border: 3px solid #240aa1;
  padding: 15px;
  background-color: #c1ced8;
}

.catalog-li:hover {
  gap: 100px;
}

.paragrah-one {
  padding: 0;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #5481F5;
  cursor: pointer;
  /*transition: opacity 500ms linear, line-height 500ms linear;*/
}

/*.paragrah-one:hover {
  opacity: 0.5;
  line-height: 150%;
}*/

.section_footer_one {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section_footer_one_ref {
  text-decoration: none;
  font-weight: 700;
  color: #2E4786;
  font-size: 24px;
  text-transform: uppercase;
  transition: text-decoration 500ms linear,
    transform 500ms linear,
    background-color 500ms linear,
    padding 500ms linear,
    opacity 500ms linear,
    color 500ms linear;
}

.section_footer_one_ref:hover {
  text-decoration: underline;
  transform-origin: 0 0;
  transform: rotate(-5deg);
  background-color: green;
  padding: 10px;
  opacity: 0.8;
  color: #4f2f24;
}



.paragrah-one::selection {
  color: rgb(76, 64, 64);
  background: #5CF5F1;
}


.group_ref_one:hover {
  font-size: 22px;
  color: #c0afc1;
}

.nav_ref {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #266462;
  border: 3px solid #338684;
  padding: 10px;
  background-color: #5CF5F1;
  transition: color 500ms linear, background-color 500ms linear;
}

.nav_ref:hover {
  color: #4DCAC6;
  background-color: #5AECE7;
}

.gallery_ref:hover {
  color: #86342A;
  background-color: #F5604B;
}

.astrology-span {
  font-size: 30px;
  color: rgb(42, 33, 102);
  font-weight: 700;
}

.astrology-li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border: 3px solid #10272b;
  padding: 10px;
  cursor: pointer;
  background: linear-gradient(rgb(211, 211, 215), rgb(225, 247, 249));
}

.astrology-li:hover {
  background: linear-gradient(rgb(59, 59, 82), rgb(200, 200, 206));
}

.astrology-li:hover .astrology-title {
  color: #d2e4e6;
}

.astrology-li:hover .astrology-span {
  color: #137d4c;
}

.planet-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 25px;
  flex-wrap: wrap;

}

.planet-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.group-planet {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.select-zn-zodiak {
  border: 2px solid #225881;
  border-radius: 25px;
  padding: 10px;
  cursor: pointer;
  background-color: #3EA2F0;
  color: #19415F;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
  font-family: "Merriweather", serif;
}

.planet-label {
  font-size: 30px;
  color: #7C1581;
  font-weight: 700;
  font-family: "Merriweather", serif;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-calc {
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #6c2567;
  background-color: transparent;
  font-size: 26px;
  font-weight: 700;
  transition: background-color 500ms linear;
}

.button-calc:hover {
  background-color: #5bb1bd;
}

.list-aside {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.ref-aside {
  text-decoration: none;
  color: #57b0b0;
  font-size: 24px;
  font-weight: 700;
  transition: color 500ms linear;
}

.ref-aside:hover {
  color: #3a4050;
}

.aside-main {
  cursor: pointer;
  background-color: #1c2d37;
  width: 5500px;
  border: 15px double #513759;
  padding: 20px;
  transition: background-color 500ms linear;
  /* transform: translateY(15%);*/
}

.aside-main:hover {
  background-color: #031625;
}

.main-aside-section {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.aside-title {
  margin: 0;
  color: #4b115c;
  font-size: 36px;
  align-self: center;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* position: absolute;
  left: 20%;*/
}

.paragraph-aside {

  transition: color 500ms linear;

  font-size: 15px;
  color: #225881;
  cursor: pointer;
}

.paragraph-aside:hover {
  color: #81888e;
}

.list_registration {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.ref_registration {
  transition: color 500ms linear;

  text-decoration: none;
  color: #252220;
  font-size: 24px;
  font-weight: 700;
}

.ref_registration:hover {
  color: #bebbb8;
}

.title_registration {

  transition: color 500ms linear;

  text-align: center;
  cursor: pointer;
  color: #4b115c;
}

.title_registration:hover {
  color: #514954;
}

.fieldset_name {

  border: 5px double #91c9c5;

  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

.legend_name {

  transition: color 500ms linear;

  color: #283b58;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
}

.legend_name:hover {
  color: #b6b9bb;
}

.group_surname {
  margin-bottom: 10px;
}

.lable_surname {
  margin-right: 15px;
  font-size: 24px;
}

.label_name {
  margin-right: 47px;
  font-size: 24px;
}

.input_surname {

  transition: color 500ms linear, background-color 500ms linear;

  background-color: #0e2f35;
  color: #a8adad;
  font-size: 24px;
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
}

.input_surname:hover {
  color: #a8b8e0;
  background-color: #f7f5f4;
}

.field_kitchen {

  transition: border 500ms linear;

  cursor: pointer;
  padding: 10px;
  border: 4px double #8fa2ad;

  margin-bottom: 20px;
}

.field_kitchen:hover {
  border: 4px double #336372;
}

.field_kitchen:hover .field_legend_kitchen {
  color: rgb(94, 83, 83);
}

.field_legend_kitchen {

  transition: text-decoration 500ms linear, color 500ms linear;

  color: #796eb5;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.field_legend_kitchen:hover {
  text-decoration: underline;
  color: #5B45CA;
}

.label_kitchen {

  transition: color 500ms linear;

  color: #702259;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.label_kitchen:hover {
  color: #d5d7dd;
}

.group_kitchen {
  margin-bottom: 10px;
}

.button_management {

  transition: border 500ms linear;

  padding: 15px;
  border: 5px double #1c1d1d;
  cursor: pointer;

  margin-bottom: 15px;
}

.button_management:hover {
  background: linear-gradient(#e0dada, #6c72ae);
  border: none;
}

.group-button-registration {
  margin-bottom: 10px;
}

.button-registration {

  transition: color 500ms linear, background-color 500ms linear;

  border: none;
  cursor: pointer;
  padding: 10px;
  letter-spacing: 5px;
  font-size: 16px;
  font-weight: 700;
  color: coral;
  background-color: #ebbbab;
}

.button-registration:hover {
  color: rgb(216, 204, 200);
  background-color: #1b0a05;
}

.button-clear-form {

  transition: color 500ms linear, background-color 500ms linear;

  border: none;
  cursor: pointer;
  padding: 10px;
  letter-spacing: 8px;
  font-size: 17px;
  font-weight: 700;
  color: rgb(241, 239, 234);
  background-color: #2a1f1b;
}

.button-clear-form:hover {
  color: #2a1f1b;
  background-color: rgb(241, 239, 234);
}

.legend_buttin_managment {
  color: #631c29;
  font-size: 24px;
  font-weight: 700;
}


.button_management .legend_buttin_managment {
  transition: color 500ms linear;
}

.button_management:hover .legend_buttin_managment {
  color: rgb(17, 121, 132);
}

.menu_button {

  transition: background-color 500ms linear;

  cursor: pointer;
  border: none;
  padding: 15px;
  background-color: #053f46;
  margin-bottom: 25px;
}

.menu_button:hover {
  background-color: #2883c8;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  background-color: #e2eaea;
  padding: 10px;
  width: 120px;
}

.span-menu {

  transition: color 500ms linear;

  color: rgb(90, 90, 87);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.span-menu:hover {
  color: #0f1a35;
}

.close-button {

  transition: color 500ms linear, background-color 500ms linear;

  color: #312270;
  background-color: #a2bdc4;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: 50px;
}

.close-button:hover {
  color: #46615f;
  background-color: #c1bac3;
}

.form-menu {

  position: absolute;

  transform: translateY(-15%);

  transition: background-color 500ms linear;

  visibility: hidden;
  padding: 15px;
  background-color: #282807;
  width: 150px;
  cursor: pointer;
}

.form-menu:hover {
  background-color: #414347;
}

.form_on_close {
  transform: scale(1.1);
}

.footer {
  position: relative;
}

.statement_field {

  transition: border 500ms linear;

  padding: 15px;
  border: 5px double #5c1d40;
  cursor: pointer;
  margin-bottom: 15px;

}

.statement_field:hover {
  border: 5px double #9b9397;
}

.statement_legend {
  color: #617bbc;
  font-size: 20px;
  font-weight: 700;
}

.statement_field .statement_legend {
  transition: color 500ms linear;
}

.statement_field:hover .statement_legend {
  color: #62756c;
}

.statement_value {
  margin-bottom: 10px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.statement_label {

  transition: color 500ms linear;

  color: rgb(184, 121, 121);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.statement_label:hover {
  color: rgb(161, 87, 87);
}

.date_birth_fieldset {

  transition: border 500ms linear;

  margin-bottom: 20px;
  padding: 15px;
  border: 5px double #db8667;
  cursor: pointer;
}

.date_birth_fieldset:hover {
  border: 5px double #966a5c;
}

.date_birth_legend {
  color: #064f65;
  font-size: 24px;
  font-weight: 700;
}

.date_birth_fieldset .date_birth_legend {
  transition: color 500ms linear;
}

.date_birth_fieldset:hover .date_birth_legend {
  color: rgb(174, 185, 167);
}

.date_birth_label {

  transition: color 500ms linear;

  color: #a7bd00;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.date_birth_label:hover {
  color: #6f7b0f;
}

.date_birth_group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date_birth_input {

  transition: background-color 500ms linear, color 500ms linear, border 500ms linear;

  border: 5px double #60c319;
  background-color: #dfe69d;
  padding: 10px;
  cursor: pointer;
  color: #11605d;
  font-size: 24px;
  font-weight: 700;
}

.date_birth_input:hover {
  background-color: #494b36;
  color: #d3d0de;
  border: 5px double #1f2b16;
}

.field_information_for_you {

  transition: border 500ms linear;

  border: 5px double #7f279f;
  cursor: pointer;

  margin-bottom: 20px;
}

.field_information_for_you:hover {
  border: 5px double #068257;
}

.legend_information_for_you {
  color: rgb(194, 174, 161);
  font-size: 24px;
  font-weight: 700;
}

.field_information_for_you .legend_information_for_you {
  transition: color 500ms linear;
}

.field_information_for_you:hover .legend_information_for_you {
  color: rgb(151, 104, 72);
}

.field_information_for_you .lable_information_for_you {
  transition: color 500ms linear;
}

.field_information_for_you:hover .lable_information_for_you {
  color: #251b3e;
}

.group_information_for_you {
  display: flex;
  align-items: center;
  gap: 10px;
}

.lable_information_for_you {
  color: #a7a75d;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.textarea_information_for_you {
  border: 5px double #1ed07d;
  cursor: pointer;
  padding: 10px;
  color: #240aa1;
  font-size: 18px;
  font-weight: 700;
}

.field_information_for_you .textarea_information_for_you {
  transition: border 500ms linear;
}

.field_information_for_you:hover .textarea_information_for_you {
  border: 5px double #aac497;
}

.group_email {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 15px;
}

.group_password {
  display: flex;
  gap: 23px;
  align-items: center;
  margin-bottom: 15px;
}

.group_name {
  display: flex;
  gap: 20px;
}

.group_photo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-list-astrology {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.nav-ref-astrology {

  transition: color 500ms linear, border 500ms linear, background-color 500ms linear;

  color: #cfb9c5;
  font-size: 24px;
  font-weight: 700;
  border: 5px double #96bcd0;
  padding: 10px;
  background-color: #28292b;
}

.nav-astrology {
  margin-top: 30px;
  margin-bottom: 40px;
}

.nav-ref-astrology:hover {
  color: #634455;
  border: 5px double #394f5b;
  background-color: #aabfea;
}

.description-li {

  transition: color 500ms linear,
    font-size 500ms linear,
    transform 500ms linear,
    text-shadow 500ms linear,
    letter-spacing 500ms linear;

  color: #450968;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.description-li:hover {
  color: #a3a3b8;
  font-size: 18px;
  transform: skew(3deg, 3deg);
  text-shadow: 1px 1px 2px rgb(11, 64, 68);
  letter-spacing: 3px;
}

.description-ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.gallery-title-two {

  transition: margin-left 500ms linear,
    letter-spacing 500ms linear,
    text-shadow 500ms linear,
    transform 500ms linear;
  cursor: pointer;

}

.gallery-title-two:hover {
  margin-left: 120px;
  letter-spacing: 2px;
  transform: scale(1.1);
  text-shadow: 2px 2px 2px rgb(7, 74, 74);
}